@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

*,
.font-text {
	font-family: "Comfortaa", 'Courier New';
}

h1, h2, h3, h4, h5, h6,
.font-header {
	font-family: "Poiret One", 'Courier New';
}

html {
	height: 100%;
	font-size: 16px;
	line-height: 24px;
}

html,
html * {
	box-sizing: border-box;
	outline: none;
}

body {
	display: flex;
	margin: 0;
	min-height: 100vh;
}

.root {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.root > * {
	flex: 0 0 auto;
}

.app-wrapper {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
}

@media only screen and (max-width: 600px) {
	.app-wrapper {
		flex-direction: column;
	}
}

.v-hidden {
	color: transparent;
	display: inline;
}
